@import "tailwindcss";

html {
  scroll-behavior: smooth;
}


@keyframes slideDown {
  0% {
    transform: translateY(-40px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-slideDown {
  animation: slideDown 0.8s ease-out forwards;
}
